---
import type { HTMLAttributes } from "astro/types";
import { getLangFromUrl } from "../i18n/utils";

type Props = HTMLAttributes<"a"> & {
    href: string;
};

const props = Astro.props;
const isHrefAbsolute = props.href.startsWith("/");

const lang = getLangFromUrl(Astro.url);

const linkHref = isHrefAbsolute ? `/${lang.code}${props.href}` : props.href;
---

<a href={linkHref} class="focus w-max rounded-md"><slot /></a>
