.focus {
	@apply relative outline-none outline outline-[3px] outline-offset-2 outline-transparent transition-all duration-150 focus-visible:outline-blue-500;
}

body {
	@apply bg-gray-950 text-slate-50;

	cursor: default;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	text-rendering: optimizeLegibility;
}
