@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnBase {
    @apply flex cursor-default select-none items-center justify-center rounded-md px-2 py-[0.3rem] text-[0.95rem] outline-none transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500;
  }

  .focus {
    @apply outline-none transition-all duration-200;
  }

  .focus:focus {
    @apply outline-none;
    box-shadow: var(--focus-color) 0 0 0 2px;
    border-color: var(--focus-color);
  }

  .focus:focus-within {
    @apply outline-none;
    box-shadow: var(--focus-color) 0 0 0 2px;
    border-color: var(--focus-color);
  }

  .focus:focus-visible {
    @apply outline-none;
    box-shadow: var(--focus-color) 0 0 0 2px;
    border-color: var(--focus-color);
  }
}

body {
  @apply bg-gray-900 text-slate-100;

  --focus-color: #3b82f6;
}

.rmsc.dark {
  --rmsc-main: var(--focus-color);
  --rmsc-primary: var(--focus-color);
  --rmsc-hover: #4b5563;
  --rmsc-active: #4b5563;
  --rmsc-disabled: #4b5563;
  --rmsc-selected: #4b5563;
  --rmsc-border: transparent;
  --rmsc-gray: #94a3b8;
  --rmsc-bg: #4b5563;
  --rmsc-radius: 0.375rem;
}

.rmsc .select-item:focus-visible {
  outline-style: solid;
}

.rmsc * {
  transition: all 0.2s ease, outline 1ms !important;
}

.rmsc .select-item {
  outline-offset: -2px !important;
  outline-width: 2px;
  border-radius: var(--rmsc-radius);
}
